# bmondata Usage Examples

## Installation

The package can be installed through use of pip.  (The exclamation point in the
following cell allows a shell command to be run inside the Jupyter notebook.)

In [1]:
!pip install --upgrade -i https://test.pypi.org/simple/ bmondata

Looking in indexes: https://test.pypi.org/simple/
Requirement already up-to-date: bmondata in /home/tabb99/anaconda3/lib/python3.7/site-packages (0.5.1)
Requirement already satisfied, skipping upgrade: pandas>=0.23.2 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from bmondata) (0.25.0)
Requirement already satisfied, skipping upgrade: requests>=2.18.4 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from bmondata) (2.21.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.2->bmondata) (2.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.2->bmondata) (1.16.4)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.2->bmondata) (2019.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->bmondata) (2019.6.16)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->bmondata) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->bmondata) (1.24.1)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->bmondata) (3.0.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in /home/tabb99/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.23.2->bmondata) (1.12.0)

## Use of the Server Class

The Server class is used to initiate requests to one BMON Server.  The base URL of the
BMON server is the one required parameter when instatiating the object.  If you want
to use the Server object to *store* sensor readings on the server, you also need
to provide the 'store_key' parameter.  The 'store_key' is the secret key found in the 
settings.py file on the BMON server.

In [2]:
import bmondata

# Make a Server object for retrieving data only
#server = bmondata.Server('https://bmon.analysisnorth.com')

# The Server object below can also be used to store sensor readings 
# on the BMON server.
#server = bmondata.Server('https://bmon.analysisnorth.com', store_key='tempkey')
server = bmondata.Server('http://0.0.0.0:8000', store_key='tempkey')

## Retrieve Sensor Readings

The `sensor_readings()` method is used to retrieve sensor readings from one or
more sensors.  The readings are returned in a Pandas DataFrame.  To retrieve
readings from one sensor, specify the Sensor ID as the first parameter:

In [3]:
df = server.sensor_readings('phil_hp_pwr_10187_temp')
df.head()

                     phil_hp_pwr_10187_temp
2018-01-20 14:53:38                  26.600
2018-01-20 14:56:50                  26.600
2018-01-20 14:59:42                  26.582
2018-01-20 16:28:59                  25.777
2018-01-20 16:32:11                  25.880

To retrieve readings from multiple sensors, provide a list of Sensor IDs:

In [4]:
df = df = server.sensor_readings(['phil_hp_pwr_10187_temp', 'phil_hp_pwr_7470_temp'])
df.head()

                     phil_hp_pwr_10187_temp  phil_hp_pwr_7470_temp
2018-01-20 14:53:38                  26.600                 64.940
2018-01-20 14:56:32                     NaN                 64.958
2018-01-20 14:56:50                  26.600                    NaN
2018-01-20 14:59:42                  26.582                 65.120
2018-01-20 16:28:59                  25.777                    NaN

Readings from multiple sensors often are not synchronized in time, thus the DataFrame
will include many NaN values.  Time-averaging of readings is discussed later and
can eliminate most of the NaN values.

You can have the DataFrame use more meaningful column names by providing a column
label for one or more of the sensors:

In [5]:
sensors = [
    ('phil_hp_pwr_10187_temp', 'outdoor_temp'), 
    'phil_hp_pwr_7470_temp'
]

df = server.sensor_readings(sensors)
df.head()

                     outdoor_temp  phil_hp_pwr_7470_temp
2018-01-20 14:53:38        26.600                 64.940
2018-01-20 14:56:32           NaN                 64.958
2018-01-20 14:56:50        26.600                    NaN
2018-01-20 14:59:42        26.582                 65.120
2018-01-20 16:28:59        25.777                    NaN

For each Sensor that you wish to label, use a two-tuple containing the Sensor ID
and the Sensor Label instead of just supplying the Sensor ID.

To filter the readings based on date/time, use the `start_ts` and `end_ts` parameters:

In [6]:
df = server.sensor_readings(
    sensors,
    start_ts = '2019-01-15 3:00 pm',
    end_ts = '2019-01-17 10:30 am'
)
df.head()

                     outdoor_temp  phil_hp_pwr_7470_temp
2019-01-15 15:00:20           NaN                  70.58
2019-01-15 15:00:21         33.04                    NaN
2019-01-15 15:02:23         33.04                    NaN
2019-01-15 15:02:31           NaN                  70.58
2019-01-15 15:04:01           NaN                  70.58

The format of `start_ts` and `end_ts` is very flexible.  Any date/time that can be
parsed by dateutil.parser.parse() will work.  If `start_ts` is not provided, readings
start at the earliest available; if `end_ts` is not provided, readings continue through
the latest available.

You can request that the sensor readings be averaged into time periods such as 1 hour or
1 day.  For a full list of the possible time period codes, see 
[DateOffset Objects](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects).
Here is an example for 1 hour averaging:

In [7]:
df = server.sensor_readings(
    sensors,
    start_ts = '2019-01-15 3:00 pm',
    end_ts = '2019-01-17 10:30 am',
    averaging = '1H'
)
df.head()

                     outdoor_temp  phil_hp_pwr_7470_temp
2019-01-15 15:00:00     33.006233              70.139767
2019-01-15 16:00:00     32.436133              70.168467
2019-01-15 17:00:00     31.556200              70.931667
2019-01-15 18:00:00     31.355200              70.568900
2019-01-15 19:00:00     31.684400              70.030333

The default is to label the time period with the time at left (beginning) edge of the
interval.  If instead you want the timestamp to fall at a different point in the
interval, you can use the `label_offset` parameter to shift it.  Here we mark the
middle of the interval by using an offset of 30 minutes:

In [8]:
df = server.sensor_readings(
    sensors,
    start_ts = '2019-01-15 3:00 pm',
    end_ts = '2019-01-17 10:30 am',
    averaging = '1H',
    label_offset = '30min'
)
df.head()

                     outdoor_temp  phil_hp_pwr_7470_temp
2019-01-15 15:30:00     33.006233              70.139767
2019-01-15 16:30:00     32.436133              70.168467
2019-01-15 17:30:00     31.556200              70.931667
2019-01-15 18:30:00     31.355200              70.568900
2019-01-15 19:30:00     31.684400              70.030333

## Retrieve Sensor Metadata

Sensor titles, units and other information can be retrieved for one or more
sensors by using the `sensors()` method.  Pass a Sensor ID or a list of Sensor
IDs to the method:

In [9]:
server.sensors(['phil_hp_pwr_10187_temp', 'phil_hp_pwr_7470_temp'])

[{'id': 234,
  'sensor_id': 'phil_hp_pwr_10187_temp',
  'title': 'New Outdoor Wireless Temp',
  'notes': 'No sensor notes available.',
  'is_calculated': False,
  'tran_calc_function': 'val - 0.76',
  'function_parameters': '',
  'calculation_order': 0,
  'formatting_function': '',
  'other_properties': '',
  'unit': 'deg F',
  'buildings': [{'bldg_id': 5, 'sensor_group': 'Weather', 'sort_order': 40}]},
 {'id': 243,
  'sensor_id': 'phil_hp_pwr_7470_temp',
  'title': 'House Temp',
  'notes': 'No sensor notes available.',
  'is_calculated': False,
  'tran_calc_function': 'val + 0.24',
  'function_parameters': '',
  'calculation_order': 0,
  'formatting_function': '',
  'other_properties': '',
  'unit': 'deg F',
  'buildings': [{'bldg_id': 5,
    'sensor_group': 'Space Conditions, Temperature',
    'sort_order': 10}]}]

The return value is a list of dictionaries, each dictionary describing a Sensor.
The keys in the dictionary are the fields associated with the Sensor model in the
BMON Django application. Further documentation of the fields is available
[Here](https://github.com/alanmitchell/bmon/blob/master/bmsapp/models.py); search
for the `class Sensor` section of the code.

The `buildings` key in the dictionary gives a list of buildings that the Sensor
is associated with.

If you do not provide any IDs (either no parameters, or an empty list), information
for *all* sensors will be returned.  For example, `server.sensors()` will return
a list of all sensors.

## Building and Organization Information

Methods are available to return information about Buildings and Organizations in the
BMON system.  Pass one or a list of Building IDs to get Building information:

In [13]:
server.buildings([2, 4])

[{'id': 2,
  'title': 'THRHA Kake Senior Center',
  'report_footer': '',
  'latitude': 56.97,
  'longitude': -133.94,
  'timezone': 'US/Alaska',
  'schedule': '',
  'timeline_annotations': '',
  'other_properties': '',
  'current_mode': '',
  'sensors': [{'sensor_id': 'kake_temp',
    'sensor_group': 'Weather',
    'sort_order': 999},
   {'sensor_id': 'kake_windspeed',
    'sensor_group': 'Weather',
    'sort_order': 999},
   {'sensor_id': '76967', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '75997', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '75945', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76915', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76952', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76888', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76049', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76887', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76089', 'sensor_group': 'Space Heating', 'sort_order': 999},
   {'sensor_id': '76050',
    'sensor_group': 'Domestic Hot Water',
    'sort_order': 999},
   {'sensor_id': '76037',
    'sensor_group': 'Domestic Hot Water',
    'sort_order': 999},
   {'sensor_id': '75971',
    'sensor_group': 'Domestic Hot Water',
    'sort_order': 999},
   {'sensor_id': '77938',
    'sensor_group': 'Domestic Hot Water',
    'sort_order': 999},
   {'sensor_id': '75985', 'sensor_group': 'Electrical', 'sort_order': 999}],
  'organizations': [[2, 'THRHA']]},
 {'id': 4,
  'title': 'Homer Strawbale',
  'report_footer': '',
  'latitude': 59.681849,
  'longitude': -151.641098,
  'timezone': 'US/Alaska',
  'schedule': '',
  'timeline_annotations': '',
  'other_properties': '',
  'current_mode': '',
  'sensors': [{'sensor_id': 'hmr_ArptTemp',
    'sensor_group': 'Weather',
    'sort_order': 10},
   {'sensor_id': 'hmr_ArptWind', 'sensor_group': 'Weather', 'sort_order': 20},
   {'sensor_id': 'hmr_OutdoorT', 'sensor_group': 'Weather', 'sort_order': 30},
   {'sensor_id': 'hmr_StrHmT',
    'sensor_group': 'Space Conditions, Temperature',
    'sort_order': 10},
   {'sensor_id': 'hmr_GreenHsT',
    'sensor_group': 'Space Conditions, Temperature',
    'sort_order': 20},
   {'sensor_id': 'hmr_BoilerRmT',
    'sensor_group': 'Space Conditions, Temperature',
    'sort_order': 30},
   {'sensor_id': 'hmr_StrArrBtuMeter',
    'sensor_group': 'Solar Thermal',
    'sort_order': 10},
   {'sensor_id': 'hmr_StrArrInT',
    'sensor_group': 'Solar Thermal',
    'sort_order': 20},
   {'sensor_id': 'hmr_StrArrOutT',
    'sensor_group': 'Solar Thermal',
    'sort_order': 30},
   {'sensor_id': 'hmr_StrArrFlowMeter',
    'sensor_group': 'Solar Thermal',
    'sort_order': 40},
   {'sensor_id': 'hmr_GrnArrBtuMeter',
    'sensor_group': 'Solar Thermal',
    'sort_order': 50},
   {'sensor_id': 'hmr_GrnArrInT',
    'sensor_group': 'Solar Thermal',
    'sort_order': 60},
   {'sensor_id': 'hmr_GrnArrOutT',
    'sensor_group': 'Solar Thermal',
    'sort_order': 70},
   {'sensor_id': 'hmr_GrnArrFlowMeter',
    'sensor_group': 'Solar Thermal',
    'sort_order': 80},
   {'sensor_id': 'hmr_PoolT',
    'sensor_group': 'Heat Storage',
    'sort_order': 10},
   {'sensor_id': 'hmr_PoolSoilT',
    'sensor_group': 'Heat Storage',
    'sort_order': 20},
   {'sensor_id': 'hmr_PL750_bottom',
    'sensor_group': 'Heat Storage',
    'sort_order': 30},
   {'sensor_id': 'hmr_PL750_mid',
    'sensor_group': 'Heat Storage',
    'sort_order': 40},
   {'sensor_id': 'hmr_PL750_top',
    'sensor_group': 'Heat Storage',
    'sort_order': 50},
   {'sensor_id': 'hmr_PriToPoolReturnT',
    'sensor_group': 'Heat Storage',
    'sort_order': 60},
   {'sensor_id': 'hmr_PriLoopT',
    'sensor_group': 'Heating System',
    'sort_order': 10},
   {'sensor_id': 'hmr_PoolToPriT',
    'sensor_group': 'Heating System',
    'sort_order': 20},
   {'sensor_id': 'hmr_MixedT',
    'sensor_group': 'Heating System',
    'sort_order': 30},
   {'sensor_id': 'hmr_BoilerStackT',
    'sensor_group': 'Heating System',
    'sort_order': 40}],
  'organizations': [[1, 'Homes']]}]

Further documentation of the fields is available
[Here](https://github.com/alanmitchell/bmon/blob/master/bmsapp/models.py); search
for the `class Building` section of the code.  The `sensors` item gives a list of
Sensors associated with the Building.

If you do not provide any IDs (either no parameters, or an empty list), information
for *all* buildings will be returned.

Here is the method for retrieving information about Organizations:

In [11]:
server.organizations([1, 2])

[{'id': 1,
  'title': 'Homes',
  'sort_order': 10,
  'buildings': [[16, "Chris's House"],
   [8, "Dustin's Neighborhood"],
   [4, 'Homer Strawbale'],
   [14, "Ian's House"],
   [5, 'Kaluza House'],
   [3, 'Mitchell House'],
   [7, 'Rehfeldt Home'],
   [19, "Tyler's House"]]},
 {'id': 2,
  'title': 'THRHA',
  'sort_order': 20,
  'buildings': [[18, 'THRHA Angoon Housing'],
   [17, 'THRHA Juneau Warehouse'],
   [2, 'THRHA Kake Senior Center']]}]

Again, further documentation of the fields is available
[Here](https://github.com/alanmitchell/bmon/blob/master/bmsapp/models.py); search
for the `class Organization` section of the code.  The `buildings` key gives the list
of buildings associated with the organization. `server.organizations()` will return
information on all Organizations.

### Used to Save this Notebook as an HTML File

In [15]:
!jupyter nbconvert usage_examples.ipynb --to html

[NbConvertApp] Converting notebook usage_examples.ipynb to html
[NbConvertApp] Writing 308394 bytes to usage_examples.html